{% include header.html %}
    {% include nav.html %}
        <div class="page-header">
          <h1>服务器列表 <small>Server List</small></h1>
        </div>
        <table class="table table-striped table-hover table-bordered">
           <thead>
              <tr>
                 {% for item in table_colum %}
                    {% if list_choose.get(item['key']) %}
                     <th class="dropdown" data-value="{{item.get('key')}}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.get('name')}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/">全部</a></li>
                            {% for k,v in list_choose.get(item['key']).iteritems() %}
                            <li><a href="/?{{item['key']}}={{k}}">{{v}}</a></li>
                            {% end %}
                        </ul>
                     </th>
                    {% else %}
                        <th data-value="{{item.get('key')}}">{{item.get('name')}}</th>
                    {% end %}
                 {% end %}
              </tr>
           </thead>
           <tbody>
           {% for item in lists %}
            {% if item.status == 2 %}
              <tr class="danger">
            {% else %}
              <tr>
            {% end %}
               <td><a href="/server/{{item.id}}/" class="editor-item glyphicon glyphicon-cog"></a>  <a href="javascript:;" data-href="/server/remove/?id={{item.id}}" class="remove-item glyphicon glyphicon-remove"></a></td>
               <td>{{item.id}}</td>
                 <td>{{item.name}}</td>
                 <td>{{item.ip_addr}}</td>
                 <td>{% if list_choose.get("isp") and list_choose["isp"].get(item.isp_id) %}{{list_choose["isp"][item.isp_id]}}{% else %}-{% end %}</td>
                 <td>{% if list_choose.get("idc") and list_choose["idc"].get(item.idc_id) %}{{list_choose["idc"][item.idc_id]}}{% else %}-{% end %}</td>
                 <td>{% if list_choose.get("environment") and list_choose["environment"].get(item.environment) %}{{list_choose["environment"][item.environment]}}{% else %}-{% end %}</td>
                 <td>{% if list_choose.get("business") and list_choose["business"].get(item.business_id) %}{{list_choose["business"][item.business_id]}}{% else %}-{% end %}</td>
                 <td>{% if list_choose.get("application") and list_choose["application"].get(item.application_id) %}{{list_choose["application"][item.application_id]}}{% else %}-{% end %}</td>
                 <td>{{item.cluster}}</td>
                 <td>{% if list_choose.get("role") and list_choose["role"].get(item.role) %}{{list_choose["role"][item.role]}}{% else %}-{% end %}</td>
                 <td>{{item.head_name}}</td>
                 <td>{% if list_choose.get("status") and list_choose["status"].get(item.status) %}{{list_choose["status"][item.status]}}{% else %}-{% end %}</td>

              </tr>
           {% end %}
           </tbody>
        </table>
        {% if pages %}
        <nav>
          <ul class="pagination">
            {% if pages["page_num"] > 1 %}
                <li><a href="/?{% if search_query %}{{search_query}}&{% end %}page={{pages['page_num'] - 1}}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><a href="javascript:;">&laquo;</a></li>
            {% end %}
            {% for i in range(1, pages['total_page']+1) %}
                {% if i == pages["page_num"] %}
                <li class="active"><a href="/?{% if search_query %}{{search_query}}&{% end %}page={{i}}">{{i}}</a></li>
                {% else %}
                <li><a href="/?{% if search_query %}{{search_query}}&{% end %}page={{i}}">{{i}}</a></li>
                {% end %}
            {% end %}
            {% if pages["page_num"] < pages["total_page"] %}
                <li><a href="/?{% if search_query %}{{search_query}}&{% end %}page={{pages['page_num'] + 1}}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:;">&raquo;</a></li>
            {% end %}
          </ul>
        </nav>
          {% end %}

        <script>
            $(function(){
                $(".remove-item").on('click',function(){
                    if (confirm("确定删除?")){
                        var request_api = $(this).attr("data-href");
                        var item = $(this);
                        $.get(request_api,{}, function(data){
                            if (data.status == 1){
                                item.parents("tr").fadeOut("slow",function(){
                                    item.parents("tr").remove();
                                });
                            }else{
                                alert(data.message);
                            }
                        },'json');
                    }
                });
            });
        </script>
{% include footer.html %}