{% include ../header.html %}
{% include ../nav.html %}
        <style>
            .form-control{width:60%;margin-top:10px;}
            .col-sm-2{margin-top:10px;}
        </style>
<div class="page-header">
          <h1>用户列表 <small>User List</small></h1>
        </div>
        <button type="button" class="btn btn-primary addItem" >新增</button>
        <button type="button" class="btn btn-danger" onclick="window.history.back();">取消</button>

        <table class="table table-striped table-hover table-bordered" style="margin-top: 10px;">
           <thead>
              <tr class="item-1">
                  <th style="width: 6%">操作</th>
                  <th style="width: 6%">编号</th>
                  <th style="width: 10%">用户名</th>
                  <th style="width: 10%">真实姓名</th>
                  <th>状态</th>
              </tr>
           </thead>
            {% if lists %}
           <tbody>
                {% for item in lists %}
                {% if item.status == 1 %}
                  <tr class="item-{{item.id}}">
                {% else %}
                  <tr class="item-{{item.id}} warning">
                {% end %}
                    <td><a href="javascript:;" class="editor-item glyphicon glyphicon-cog" data-value="{{item.id}}"></a>  <a href="javascript:;" data-href="/user/remove/" class="remove-item glyphicon glyphicon-remove" data-value="{{item.id}}" ></a></td>
                    <td>{{item.id}}</td>
                    <td>{{item.uname}}</td>
                    <td>{{item.real_name}}</td>
                    <td>{% if item.status == 1 %}正常{% else %}停用{% end %}</td>
                </tr>
                {% end %}
           </tbody>
            {% end %}
        </table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">新增项</h4>
      </div>
      <div class="modal-body">
        <label class="col-sm-2 control-label">用户名</label> <input type="text" name="uname" class="form-control" id="unameID">
          <label class="col-sm-2 control-label">密码</label> <input type="password" name="passwd" class="form-control" id="passwdID">
          <label class="col-sm-2 control-label">真实姓名</label> <input type="text" name="real_name" class="form-control" id="realNameID">
          <label class="col-sm-2 control-label">状态</label>
          <input type="radio" value="1" name="status" style="margin-top:15px;" checked > 正常<input type="radio" value="2"  name="status" style="margin-top:15px;"> 停用
      </div>
      <div class="modal-footer">
        <span id="iMessage"></span>
        <input type="hidden" name="uid" id="itemID" value="" />
        <button type="button" class="btn btn-primary" id="AddBtn">确 定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
      </div>
    </div>
  </div>
</div>
        <script>
            $(function(){
                $(".addItem").on('click',function(){
                    $("#myModalLabel").html('新增项');
                    $("#myModal :input[type='text']").val('');
                    $("#myModal :input[type='password']").val('');
                    $("#myModal :input[type='hidden']").val('');
                    $("#myModal :radio").first().attr("checked","checked");
                    $('#myModal').modal('show');
                });
            });

            $(".remove-item").on('click', function(){
                    if (confirm('确认删除？')){
                      var item_id = $(this).attr("data-value")
                      if (item_id.length == 0){
                        return false;
                      }
                      var item = $(this);
                      var request_api = item.attr('data-href');
                      $.post(request_api,{"id": item_id},function(data){
                          if (data.status == 1){
                                item.parents("tr").fadeOut("slow",function(){
                                    item.parents("tr").remove();
                                });
                            }else{
                                alert(data.message);
                            }
                      },'json')
                    }

                });


            $(".editor-item").on('click',function(){
                    $("#myModalLabel").html('编辑项');
                    var item_id = $(this).attr('data-value');
                    var uname = $(this).parents("tr").children("td:eq(2)").html();
                    var real_name = $(this).parents("tr").children("td:eq(3)").html();
                    var status = $(this).parents("tr").hasClass("warning");
                    if (status == true){
                      _status = 2;
                    }else{
                      _status = 1;
                    }
                    $("#myModal #unameID").val(uname);
                    $("#myModal #realNameID").val(real_name);
                    $("#myModal #itemID").val(item_id);
                    if ($("input[name='status']:checked").val() != _status){
                      $("input[name='status']:checked").removeAttr("checked");
                      $("#myModal :radio[value="+_status+"]").attr("checked","checked");
                    }
                    $('#myModal').modal('show');
                });


            $("#AddBtn").on('click',function(){
                    var uname = $("#myModal #unameID").val();
                    var passwd = $("#myModal #passwdID").val();
                    var real_name = $("#myModal #realNameID").val();
                    var item_id = $("#myModal #itemID").val();
                    if (item_id == 'undefined' || item_id.length == 0){
                      item_id = 0;
                    }

                    if (uname.length == 0 || real_name.length == 0) {
                        $("#iMessage").html('请填写完整的表单.');
                        return;
                    }
                    if(item_id == 0 && passwd.length == 0){
                        $("#iMessage").html('请输入密码.');
                        return;
                    }
                    var status = $("input[name='status']:checked").val();
                    var $btn = $(this).button('loading');
                    post_param = {"uname": uname, "real_name": real_name, "status": status}
                    if (item_id > 0)
                      post_param["uid"] = item_id
                    if (passwd.length > 0)
                      post_param["passwd"] = passwd
                    console.log(post_param)

                    $.post("/user/add/",post_param,function(data){
                        if (data.status != 1){
                            $("#iMessage").html(data.message);
                            $btn.button("reset");
                        }else{
                            setTimeout(function(){
                              if (item_id == 0){
                                  if (data.data.status == 1){
                                    var innerHtml = '<tr class="item-'+data.data.uid+'">';
                                  }else{
                                    var innerHtml = '<tr class="item-'+data.data.uid+' warning">';
                                  }

                                  innerHtml += '<td><a href="javascript:;" class="editor-item glyphicon glyphicon-cog" data-value="'+data.data.uid+'"></a>  <a href="javascript:;" data-href="/business/remove/" class="remove-item glyphicon glyphicon-remove" data-value="'+data.data.uid+'"></a></td>';
                                  innerHtml += '<td>'+data.data.uid+'</td>';
                                  innerHtml += '<td>'+data.data.uname+'</td>';
                                  innerHtml += '<td>'+data.data.real_name+'</td>';
                                  innerHtml += '<td>'+data.data._status+'</td>';
                                  innerHtml += '</tr>';
                                  $("table tbody").prepend(innerHtml);
                              }else{
                                  $(".item-"+item_id).children("td:eq(3)").html(real_name)
                                  $(".item-"+item_id).children("td:eq(4)").html(data.data._status)
                                  if (data.data.status == 1){
                                    $(".item-"+item_id).removeClass('warning')
                                  }else{
                                    if($(".item-"+item_id).hasClass('warning') == false){
                                        $(".item-"+item_id).addClass('warning');
                                    }
                                  }
                              }
                              $('#myModal').modal('hide');
                              $btn.button("reset");
                            },1000);


                        }
                    },'json');
                });


        </script>

{% include ../footer.html %}